<div class="flex flex-column">
  <span class="text-lg mb-4"> Login </span>
  <p-floatLabel class="mt-4">
    <input pInputText id="username" class="w-full" />
    <label for="username">Username</label>
  </p-floatLabel>
  <p-floatLabel class="mt-4">
    <p-password
      id="password1"
      type="password"
      class="w-full"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      [toggleMask]="true"
    ></p-password>

    <label for="password">Password</label>
  </p-floatLabel>
  <button
    pButton
    class="p-button-success mt-4"
    label="Login"
    (click)="onLogin()"
  ></button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">I don't have account</a>
  </div>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/forgot-password">Forgot password?</a>
  </div>

  <button pButton routerLink="/" class="flex justify-content-center mt-5">
    Back
  </button>
</div>
