<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <div class="card flex justify-content-center">
        <search-page />
      </div>
      @if (currentUser) {
      <span> <i class="pi pi-user"></i> Hola, {{ currentUser.user }} </span>
      } @else {
      <span> <i class="pi pi-user"></i> Hola, Invitado </span>
      }

      <p-button
        severity="secondary"
        icon="pi pi-sign-out"
        label="Logout"
        (click)="onLogout()"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>

<div class="container p-2">
  <router-outlet></router-outlet>
</div>
